/* Logo et geolocalisation */

.body{
	font-family: Roboto;
	margin: 0;
	box-sizing: border-box;
}

.flexCentre{
	display: flex;
	text-align: center;
	justify-content: center;
}

.tailleLogo{
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.barreLogo{
	width: 100%;
	border: 0.5px solid #F2F2F2;
}

.phraseParis{
	display: flex;
	align-items: center;
	background-color: #cfd0d1;
}

.fontReserve{
	font-weight: 100;
}

.margeGeo{
	margin-right: 15px;
}

.rondDecouvrez{
   	display: flex;
    text-align: center;
    border: solid 0.5px #EEE;
    border-radius: 31px;
    height: 54px;
    width: 200px;
    text-decoration: none;
    color: white;
	background: linear-gradient(#FF79DA,#9356DC);
	box-shadow: 3px 3px 20px 0px #C7C7C7;
	margin-bottom: 70px;
}

.margeTexte{
	margin-top: 60px;
}

.blocDirection{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.fondGris{
	background-color: #F2F2F2;
	height: 250px;
	width: 100%;
}

/* Filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    font-weight: 700;
    padding-top: 35px;
}

.paddingText{
	padding-left: 20px;
    padding-right: 20px;

}

.margeFiltre{
	display: flex;
	justify-content: center;
	margin-right: 20px;
}

.restaurant,
.menu,
.degustez{
	display: flex;
    align-items: center;
    border: 2px #EEE;
    border-radius: 31px;
    position: relative;
    height: 54px;
    text-decoration: none;
    color: black;
    background-color: #F2F2F2;
    margin-left: 1.5rem;
}

.rondChiffre{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: #9356DC;
	color: white;
	height: 20px;
	width: 20px;
	margin-left: -0.3rem;
	margin-bottom: -0.6rem;
	font-size: 13px;

}


.petiteMarge{
	margin-left: 30px;
}

/* Partie Restaurant */


.bordureGris {
    margin-top: 40px;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.column {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 34px;
    padding: 0 30px;
}

.imageRestaurant {
    width: 300px;
    height: 170px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    }

.fondBlanc {
    width: 300px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 20px 0px #C7C7C7;
}

.none {
    text-decoration: none;
    color: black;
}

.lienimage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tailleP{
	display: flex;
	padding-left: 20px;
	margin-bottom: -30px;
}

.petitP{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	font-weight: 100;
}


/* Jauge Coeur */

.fa-heart{
 font-size: 30px;
}
 
 .fa-heart:hover{
 	transition: all 0.3s linear 0s;
 	cursor: pointer;
 	background: linear-gradient(0deg,#FF79DA,#9356DC)
 }

.paddingHeart{
	padding-right: 20px;
	font-size: 25px;
}

.margeTitre{
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 30px;
}

/* Footer */

.footerwrapper{
	width: 100%
    height: 250px;
    background-color: #2e2d2d;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 75px;
    padding-bottom: 20px;
}


.logofooter{
	font-family: Shrikhand;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

.couteau{
	padding-right: 15px;
	margin-bottom: 5px;
}

.main{
	padding-right: 10px;
	margin-bottom: 5px;
}

.footerphrase{
	text-decoration: none;
	color: white;
	margin-left: 20px;
	padding-bottom: 10px;
}

.petitfooter{
	margin-bottom: 5px;
}


/* Responsive phones */

@media screen and (max-width: 768px){

	.bordureGris{
		border-radius: 0%;
		width: 100%;	}

}

@media screen and (min-width: 768px) and (max-width: 990px){

	.filtres{
		display: grid;
		grid-template-columns: repeat(2, 1fr) ;
	}

	.bordureGris{
		width: 50%;
	}

	.petiteMarge{
		display: flex;
		justify-content: center;
	}
}




