.custom-loader{
    display: none;
    border: 10px solid $couleurBlanc;
    border-top: 10px solid $couleurRose;
    border-bottom: 10px solid $couleurViolet;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    animation: spin 3s linear infinite;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &__position {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: $couleurBlanc;
      }
}

@keyframes spin{
    99%{
        transform: rotate(360deg);
        transition-duration: 3s;

    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
}