/* Logo et geolocalisation */

.body{
	font-family: Roboto;
	margin: 0;
	box-sizing: border-box;
}

.flexCentre{
	display: flex;
	align-items: center;
	justify-content: center;
}

.tailleLogo{
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.barreLogo{
	width: 100%;
	border: 0.5px solid #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.phraseParis{
	display: flex;
	align-items: center;
	background-color: #cfd0d1;
}

.fontReserve{
	font-weight: 100;
    padding-top: 26px;
    padding-bottom: 8px;
}

.margeGeo{
	margin-right: 15px;
}


.margeTexte{
	margin-top: 35px;
}

.blocDirection{
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.fondGris1{
	background-color: #F2F2F2;
	height: 270px;
	width: 100%;
}

/* Filtres */

.filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    font-weight: 700;
    padding-top: 35px;
}

.paddingText{
	padding-left: 20px;
    padding-right: 20px;

}

.margeFiltre{
	display: flex;
	justify-content: center;
	margin-right: 20px;
}

.restaurant,
.menu,
.degustez{
	display: flex;
    align-items: center;
    border: 2px #EEE;
    border-radius: 31px;
    position: relative;
    height: 67px;
    text-decoration: none;
    color: black;
    background-color: #F2F2F2;
    margin-left: 1.5rem;
	box-shadow: 3px 3px 2px 0px #cfd0d1;
}

.rondChiffre{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: #9356DC;
	color: white;
	height: 20px;
	width: 20px;
	margin-left: -0.3rem;
	margin-bottom: -0.6rem;
	font-size: 13px;

}


.petiteMarge{
	margin-left: 30px;
}

/* Encart Nouveau */

.nouveau{
    background: #a9e0d1;
    color: #3b8468;
    padding: 6px 6px 6px 6px;
    font-weight: 500;
    position: absolute;
    margin-top: 15px;
    margin-left: 250px;
}



/* Partie Restaurant */


.bordureGris {
    margin-top: 40px;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.margeTitre{
	display: flex;
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 30px;
}

.column {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 34px;
    padding: 0 30px;
}

.imageRestaurant {
    width: 350px;
    height: 190px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
    }

.card {
    width: 350px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 3px 3px 20px 0px #C7C7C7;
}

.none {
    text-decoration: none;
    color: black;
}

.lienimage {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tailleP{
	display: flex;
	padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 5px;
}

.petitP{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
    padding-bottom: 15px;
	font-weight: 100;
}


/* Responsive phones */


@media screen and (max-width: 768px){

	.phraseParis{
        width: 120%;
    }
    
    .filtres{
        width: 120%;
    }

    .responsive{
        width: 120%;
    }

    .imageRestaurant{
        width: 350px;
        height: 190px;
    }

    .card{
        width: 350px;
    }

    .nouveau{
        margin-left: 260px;
    }

    .fondGris1{
        width: 120%;
    }
       
    .bordureGris{
		border-radius: 0%;
		width: 120%;
        margin-bottom: 0px;	
    }

}

@media screen and (min-width: 768px) and (max-width: 990px){

	.filtres{
		display: grid;
		grid-template-columns: repeat(2, 1fr) ;
	}

	.bordureGris{
		width: 50%;
	}

	.petiteMarge{
		display: flex;
		justify-content: center;
	}
}
