/* Couleur */

$couleurRose: #ff79da;
$couleurViolet: #9356dc;
$couleurGris: #c7c7c7;
$couleurBlanc: white;
$couleurNoir: black;
$couleurGris2: #F2F2F2;
$couleurVert: #99e2d0;
$couleurFooter: #2e2d2d;

/* Font et ombres */

$font-Shrikhand: 'Shrikhand'
