.footer{
    display: flex;
    flex-wrap: wrap;
	width: 100% ;
    height: 200px;
    background-color: $couleurFooter;
    padding-left: 75px;
    padding-bottom: 15px;



    &__font{
	font-family: 'Shrikhand';
	color: $couleurBlanc;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

    &__phrase{
    text-decoration: none;
    color: $couleurBlanc;
    margin-left: 20px;
    padding-bottom: 10px;
}

    .petitfooter{
    margin-bottom: 5px;
}
    .couteau{
	padding-right: 15px;
	margin-bottom: 5px;
}

    .main{
	padding-right: 10px;
	margin-bottom: 5px;
}

}







