.header{
	display: flex;


&__fleche{
    text-transform: none;
    text-decoration: none;
    margin-left: 20px;
    top: 21px;
    color: $couleurNoir;
    font-size: 30px;
    position: absolute;
}

.fa-arrow-left{
	text-decoration: none;
	text-transform: none;
	color: $couleurNoir;
}

.flexCentre{
	@include flexcentre ;
	text-align: center;
}

.tailleLogo{
	font-size: 500;
    font-family: 'Shrikhand';
	margin-top: 15px;
	margin-bottom: 15px;
}
}
